   <!--not able to access color property that i have added explicitly in xml file-->

<!--    body-->
<!--   {-->
<!--     background-color:${properties.color @context='styleToken'}; &lt;!&ndash;this color property added explicitly in CRXDE&ndash;&gt;-->
<!--   }-->
<!--    </style>-->
    <!--<body style="background-color:${properties.color @context='styleToken'};">-->
    <!--<button style="background-color:${properties.buttoncolor @context='styleToken'};" value="Submit" name="btn_button">Submit</button>-->
    <html>
    <head>
</head>
<body style="background-color:${properties.color @context='styleToken'};">
<div style="background-color:${properties.divcolor @context='styleToken'};height:300px;width:300px;">
this is prashant
</div>
</body>
</html>







